h1{
    font-family: sans-serif
    color: orange;
    font-weight: 450;
    font-size: 400%;
}

h2{
    color: rgb(211, 214, 20);
}

p{

    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
}